body {
    font-family: Arial, sans-serif;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f4;
    padding: 10px;
}

.nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    padding: 10px;
}

.nav a:hover {
    background-color: #ddd;
}

.subnav {
    display: flex;
    flex-direction: column;
}

.subnav a {
    margin: 5px 0;
    text-decoration: none;
    color: #333;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}

.subnav a:hover {
    background-color: #ddd;
}

.auth-buttons {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    flex-grow: 1;
}

.auth-buttons .auth {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.content {
    padding: 20px;
}

.section {
    display: none;
}

.section.active {
    display: block;
}

.custom-table,
.handbook-buildings,
.handbook-fixed-assets,
.handbook-services,
.handbook-contracts {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 14px;
}

.custom-table th,
.custom-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.custom-table th {
    background-color: #f2f2f2;
    text-align: left;
    box-sizing: border-box;
}

.custom-table input {
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

.save-button {
    margin-top: 30px;
    margin-bottom: 20px;
}

.delete-button,
.edit-button {
  width: 100%;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.dropzone p:hover {
    cursor: pointer;
    color: darkblue;
}

.width-date-picker {
  width: 100%;
}

.launch, .save, .load {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.distribution-table,
.distributed-invoices {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 12px;
}

.distribution-table th,
.distribution-table td,
.distributed-invoices th,
.distributed-invoices td,
.handbook-buildings th,
.handbook-buildings td,
.handbook-fixed-assets th,
.handbook-fixed-assets td,
.handbook-services th,
.handbook-services td,
.handbook-contracts th,
.handbook-contracts td {
    border: 1px solid #ddd;
    padding: 8px;
}

.distribution-table th,
.distributed-invoices th,
.handbook-buildings th,
.handbook-fixed-assets th,
.handbook-services th,
.handbook-contracts th {
    background-color: #f2f2f2;
    text-align: left;
    box-sizing: border-box;
}

.distribution-table input, .distributed-invoices input {
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.loading-overlay p {
    margin: 0;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #2a6dbe;
    animation: spin 1s linear infinite;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
