body {
    font-family: Arial, sans-serif;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f4;
    padding: 10px;
}

.nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    padding: 10px;
}

.nav a:hover {
    background-color: #ddd;
}

.subnav {
    display: flex;
    flex-direction: column;
}

.subnav a {
    margin: 5px 0;
    text-decoration: none;
    color: #333;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}

.subnav a:hover {
    background-color: #ddd;
}

.auth-buttons {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    flex-grow: 1;
}

.auth-buttons .auth {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.content {
    padding: 20px;
}

.section {
    display: none;
}

.section.active {
    display: block;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.custom-table th, .custom-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.custom-table th {
    background-color: #f2f2f2;
    text-align: left;
}

.custom-table input {
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

.save-button{
  margin-top: 30px;
}

.delete-button, .edit-button{
  width: 100%;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.dropzone p:hover {
    cursor: pointer;
    color:darkblue;
}

.width-date-picker {
  width: 100%;
}
